html {
    padding: 0;
    background: #14181c
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

header {
    background-color: #1d1d1d;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

nav {
    display: flex;
}

menu { 
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

main {
    padding: 20px;  
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.movie-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-link {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.movie-link h3 {
    margin-bottom: 5px;
  }
  
  img {
     display: block;
    margin-bottom: 10px;
  }
  
  
  footer {
    background-color: #1d1d1d;
    color: #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .text-reset {
    color: inherit;
  }

