body {
    color: white;
    background: #3f404f;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

header {
    background-color: #0d0f1f;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3f404f;
}

h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}



main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;  
  
    gap: 10px;
}
  
div {
    display: flex;
    gap: 5px;
    align-items: center;
}
  
span {
    font-weight: bold;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button  {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #805456;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;  
  
    margin-right: 10px;
}
  
button:last-child {
    background-color: #316046;
}


footer {
    background-color: #0d0f1f;
    padding: 10px;
    text-align: center;
}